/* 
.app-background {
    background-color: #4e73df; 
    background-image: 
      url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/svgs/solid/book-open.svg'), 
      url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/svgs/solid/lightbulb.svg');
    background-size: 100px, 100px;
    background-position: top left, bottom right; 
    background-repeat: repeat;
    color: white;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }*/
  